$color_1: rgb(253, 76, 130);
$color_2: rgb(139, 59, 139);
$color_3: violet;
$color_4: rgb(175, 54, 175);
$color_5: rgb(167, 27, 167);
$color_6: rgb(77, 12, 77);
$color_7: black;
$font-family_1: 'Open Sans', sans-serif;
$font-family_2: 'Bebas Neue', cursive;
$background-color_1: rgb(253, 76, 130);
$background-color_2: rgba(63, 47, 47, 0.3);
$background-color_3: antiquewhite;