/*HTML*/
html{
    font-size: 62.5%
}
/*--------------------------------*/
/*FUENTES*/
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap'); /*font-family: 'Bebas Neue', cursive;*/
@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@300 & display=swap'); /*font-family: 'Open Sans', sans-serif;*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*LOGOTIPO*/
.tamañoLogotipo{
    width: 20vw;
}
.separacion{
    margin-left: 3em;
}
/*--------------------------------*/
/*INICIO-NOSOTROS-TENDENCIAS-SUCURSALES-CONTACTOS*/

/*-----------------------------------------------------------------*/
.navegadorA{
    position: relative;
    text-decoration: none;
    color: #222;
    font-size: 18px;
    letter-spacing: .5px;
    padding: 0 20px;
    cursor: pointer;
}

.navegadorA :before, .navegadorA :after{
    content: "";
    position: absolute;
    height: 1px;
    width: 0px;
    background-color: rgb(253, 76, 130);
    transition: .6s;   
}

.navegadorA :after{
    left: 0;
    bottom: -10px;
    color: rgb(253, 76, 130);
}

.navegadorA :before{
    right: 0;
    top: -10%;
}

.navegadorA :hover:after, .navegadorA :hover:before{
    width: 100%;     
}
/*--------------------------------*/

/*FONDO DE CADA SECCION*/
.fondoSeccion{
    background-color: rgba(63, 47, 47, 0.3);
}
/*-----------------------------------------------*/
/*FOOTER*/
.tamañoRedes{
    width: 2.5vw;
    height: 2.5vw;
    margin: 1em 2em 1em 2em;
}
.derechos{
    margin: auto;
    font-size: 1.6rem;
}

/*-----------------------------------------------------*/
/*Whatsapp*/
.botonWhatsApp img {
    width: 5vw;
    height: 5vw;
    position: fixed;
    bottom: 20px;
    right: 30px;
}
/*----------------------------------------------------*/
/*Carousel y relleno de pagina*/
.carousel{
    height: 60vh;
    width: 100%;  
}

.fuentePagina{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: rgb(139, 59, 139);
    

}
 .fuenteBella{
    color: violet;
    font-family: 'Bebas Neue', cursive;
    text-shadow: -3px -3px 0 rgb(0, 0, 0);
}
.fuenteBella h1{
    font-size: 5rem;
}
.contenedor-section {
    max-width: 90vw;
  }
  
  .contenedor-section p {
    word-wrap: break-word;
  }
/*-----------------------------------------------------------------------------------------------------------*/
/*TENDENCIAS*/
/*IMAGENES*/

.imagenUñas{
    width: auto;
    height: 50vh;
    object-fit: cover;
}
.boton{
    border: solid 1px violet;
    border-radius: 10%;
    margin-left: 100%;
    margin-right: 100%;
}
.boton a{
    color: rgb(175, 54, 175);
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;

}
.descrip{
    color: rgb(167, 27, 167);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}
