/*HTML*/
html {
    font-size: 62.5%
}

/*--------------------------------*/
/*FUENTES*/
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
/*font-family: 'Bebas Neue', cursive;*/
@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@300 & display=swap');

/*font-family: 'Open Sans', sans-serif;*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*LOGOTIPO*/
.tamañoLogotipo {
    width: 20vw;
}

.separacion {
    margin-left: 3em;
}

/*--------------------------------*/
/*INICIO-NOSOTROS-TENDENCIAS-SUCURSALES-CONTACTOS*/
/*-----------------------------------------------------------------*/
.navegador {

    padding-left: 40px;
    padding-bottom: 1px;

}

.navegadorA {

    position: relative;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: .5px;
}

.navegadorA :before,
.navegadorA :after {
    content: "";
    position: absolute;
    height: 5px;
    width: 0px;
    background-color: rgb(253, 76, 130);
    transition: .6s;
}

.navegadorA :after {
    left: 0;
    bottom: -10px;
    color: rgb(253, 76, 130);
}

.navegadorA :before {
    right: 0;
    top: -10%;
}

.navegadorA :hover:after,
.navegadorA :hover:before {
    width: 100%;
}

/*--------------------------------*/

/*FONDO DE CADA SECCION*/
.fondoSeccion {
    background-color: rgba(63, 47, 47, 0.3);
}

/*-----------------------------------------------*/
/*FOOTER*/
.tamañoRedes {
    width: 2.5vw;
    height: 2.5vw;
    margin: 1em 2em 1em 2em;
}

.derechos {
    margin: auto;
    font-size: 1.6rem;
}

/*-----------------------------------------------------*/
/*Whatsapp*/
.botonWhatsApp img {
    width: 5vw;
    height: 5vw;
    position: fixed;
    bottom: 20px;
    right: 30px;
}

/*----------------------------------------------------*/
/*Carousel y relleno de pagina*/
.carousel {
    height: 60vh;
    width: 100%;
}

.fuentePagina {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: rgb(139, 59, 139);


}

.fuenteBella {
    color: violet;
    font-family: 'Bebas Neue', cursive;
    text-shadow: -3px -3px 0 rgb(0, 0, 0);
}

.fuenteBella h1 {
    font-size: 5rem;

}

.contenedor-section {
    max-width: 90vw;
}

.contenedor-section p {
    word-wrap: break-word;
}

/*-----------------------------------------------------------------------------------------------------------*/
/*TENDENCIAS*/
/*IMAGENES*/

.imagenUñas {
    width: auto;
    height: 50vh;
    object-fit: cover;
}

.boton {
    border: solid 1px violet;
    border-radius: 10%;
    margin-left: 100%;
    margin-right: 100%;
}

.boton a {
    color: rgb(175, 54, 175);
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;

}

.descrip {
    color: rgb(167, 27, 167);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}

/*NOSOTROS*/
/*------------------------------------------------------*/
.contDivs {
    display: grid;
    grid-template-areas:
        "divUno divUno"
        "divDos divTres";
    gap: 20px;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 70% 28%;
}

.divUno {
    grid-area: divUno;
    margin-top: 5em;
    margin-bottom: 3em;
}

.divDos {
    grid-area: divDos;
    width: 100%;

}

.divDos video {
    width: 80%;
    height: 70vh;

}

.divTres {
    grid-area: divTres;
    padding-top: 100px;
    padding-bottom: 1px;
}


.fuenteBellaDos {
    color: violet;
    font-family: 'Bebas Neue', cursive;
    text-shadow: -3px -3px 0 rgb(0, 0, 0);
}

.fuenteBellaDos h1 {
    font-size: 5rem;
}

/*SUCURSALES*/
/*--------------------------------------------*/
.contDeSection {
    display: grid;
    grid-template-areas:
        "contTituloSucursales contTituloSucursales"
        "contDeMapa contDeParrafo";
    gap: 20px;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 70% 28%;

}

.contTituloSucursales {
    grid-area: contTituloSucursales;
    color: violet;
    font-family: 'Bebas Neue', cursive;
    text-shadow: -3px -3px 0 rgb(0, 0, 0);

}

.contTituloSucursales h1 {
    font-size: 5rem;
}

.contDeMapa {
    grid-area: contDeMapa;

}

.mapa {
    width: 100%;
}

.contDeParrafo {
    grid-area: contDeParrafo;

}

.contDeParrafo p {
    color: rgb(167, 27, 167);
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

.contDeParrafo h2 {
    text-align: center;
    color: rgb(77, 12, 77);
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5rem;
}

.contDeParrafo h3 {
    text-align: center;
    color: rgb(77, 12, 77);
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5rem;
}

/*---------------------------------------------------------*/
/*CONTACTOS*/
.Contenedor-General {
    display: grid;
    grid-template-areas:
        "Titulo-Contactos Titulo-Contactos"
        "Contenedor-Formulario Contenedor-Imagen"
        "Contenedor-Formulario Contenedor-Parrafo";
    gap: 10px; 
}

.Titulo-Contactos {
    grid-area: Titulo-Contactos;
    color: violet;
    font-family: 'Bebas Neue', cursive;
    text-shadow: -3px -3px 0 rgb(0, 0, 0);
}


.Titulo-Contactos h1 {
    font-size: 5rem;
    text-align: center;
}

.Contenedor-Formulario {
    display: grid;
    grid-area: Contenedor-Formulario;
    width: 100%;
    border-radius: 15px;
}

.Formulario {
    border: rgb(167, 27, 167) solid;
    border-radius: 5%;
    transition: 0.5s;
    padding: 3em 3em;

}

.Formulario:hover {
    border: 1px solid rgb(167, 27, 167);
    box-shadow: 0 0 20px rgb(167, 27, 167),
        inset 0 0 20px rgb(167, 27, 167);
}

.rellenoItems {
    background-color: antiquewhite;
    color: black;
    font-size: 2rem;
    border: none;
}

.textarea {
    width: 100%;
}

.input-box {
    position: relative;
    width: 320px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 50px;
    border-radius: 7px;
    background: transparent;
    border: 1px solid rgb(187, 88, 117);
    outline: none;
    font-size: 2em;
    color: black;
    padding: 0 1px 0 3px;
    transition: 0.5s;
}

.Formulario:hover .input-box input {
    border: 2px solid rgb(251, 86, 135);
    box-shadow: 0 0 10px rgb(251, 86, 135),
        inset 0 0 10px rgb(251, 86, 135);
}

.item {
    font-size: 1.5rem;
}

.Boton {

    width: 100%;
    height: 45px;
    background: rgb(251, 86, 135);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.8em;
    transition: 0.5s;
}

.Contenedor-Formulario:hover .Boton {
    background: rgb(251, 86, 135);
}

.Contenedor-Parrafo {
    grid-area: Contenedor-Parrafo;
}

.Contenedor-Parrafo p {
    font-size: 2em;
}

.Contenedor-Imagen {
    display: grid;
    grid-area: Contenedor-Imagen;
    place-items: center;
}

.Contenedor-Imagen img {
    width: 40vw;
    height: 30vh;
}

/*--------------------------------------------------------------------*/

/*--------------MEDIAS DE NOSOTROS----------------------------------------*/



/*---------------------MEDIAS DE SUCURSALES--------------------*/

@media (max-width: 768px) {
    .contDeSection {
        grid-template-areas:
            "contTituloSucursales"
            "contDeMapa"
            "contDeParrafo";
        grid-template-rows: 0.3fr 1fr 0.7fr;
        grid-template-columns: 100%;
    }

    .contTituloSucursales h1 {
        padding-left: 14%;


    }

    .contDeParrafo h2,
    .contDeParrafo h3 {
        font-size: 2.5rem;
    }

    .mapa {
        width: 100%;
    }

    .tamañoRedes {
        width: 70px;
        height: 70px;
        margin: 1em 2em 1em 2em;
    }

    .botonWhatsApp {
        display: none;
    }
    .Contenedor-General {
        
        display: grid;
        grid-template-areas:
            "Titulo-Contactos"
            "Contenedor-Formulario"
            "Contenedor-Imagen"
            "Contenedor-Parrafo";
        gap: 10px; }
        

    .Contenedor-Imagen{
        display: none;
    }
    .Contenedor-Formulario {
        display: grid;
        place-items: center;
        grid-area: Contenedor-Formulario;
        width: 100%;
        border-radius: 15px;
        
    }
    .input-box{
        width: 100%;
    }



    @media (max-width: 700px) {
        .contDivs {
            display: grid;
            grid-template-areas:
                "divUno"
                "divDos"
                "divTres";
            gap: 10px;
            grid-template-rows: 1fr;
            grid-template-columns: 100% 10%;
        }
    
        
    
       .divUno h1{
        font-size: 4rem;
        border: solid;
       }



        .divDos video{
            
            border: solid green;
            width: 100%;
            height: auto;
            
        }
    
        .divTres {
            border: solid gold;
            padding: 5%;
        }
    
        .botonWhatsApp {
            display: none;
        }
    
        .tamañoRedes {
            width: 70px;
            height: 70px;
            margin: 1em 2em 1em 1em;
        }
    
    }

   

    
    

}
